/* css bài 1 */

.main-bai1 {
    width: 500px;
    border: 1px solid black;
    background-color: #EEFFFF;
}

.main-bai1 h2 {
    margin-left: 10px;
}

.main-bai1 .p-title {
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.main-bai1 .p-detail {
    margin-left: 10px;
}

.main-bai1 span {
    margin-left: 10px;
}

.main-bai1 .warning {
    color: red;
}

.main-bai1 .warning p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}


/* css bài 2 */

.main-bai-2 {
    width: 450px;
    height: 280px;
    background-color: #008000;
}

.main-bai-2 h2 {
    margin-left: 10px;
    padding-top: 20px;
}

.main-bai-2 p {
    margin-left: 10px;
}

.main-bai-2 ul {
    background-color: red;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/* css bài 3 */

.p-title {
    color: #C56C76;
    font-weight: bold;
}

.img-icon {
    font-size: 50px;
    color: #C56C76;
}


/* css bài 4 */

.main-bai-4 .title {
    font-weight: bold;
    font-size: 30px;
    color: red;
}


/* css bafi 6 */

.main-bai-6 {
    text-align: center;
    width: 400px;
}

.main-bai-6 .banner {
    height: 150px;
    background-color: #F4F4F4;
    border-bottom: 3px solid #CCCCCC;
}

.main-bai-6 .banner p:first-child {
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
}


/* css bài 7 */

.main-bai-7 {
    width: 500px;
    margin-left: 20px;
}

.main-bai-7 .header {
    text-align: center;
}

.main-bai-7 .header p:first-child {
    font-weight: bold;
    font-size: 30px;
}

.main-bai-7 .header p:last-child {
    color: blue;
    font-size: 25px;
}

.main-bai-7 .footer u {
    color: blue;
}

.main-bai-7 .footer p:last-child {
    font-weight: bold;
    margin-bottom: 40px;
}


/* css bài 8 */

.main-bai-8 {
    width: 600px;
    background-color: #D8DA3D;
}

.main-bai-8 ul {
    padding-top: 20px;
}

.main-bai-8 ul li {
    color: #88137A;
}

.main-bai-8 ul li span {
    color: blue;
}

.main-bai-8 p {
    color: #88137A;
    margin-left: 10px
}

.main-bai-8 .title {
    font-weight: bold;
    font-size: 25px;
}

.main-bai-8 p:last-child {
    margin-bottom: 20px;
}

.main-bai-8 .p-end {
    padding-bottom: 20px;
}